#privacy {
    margin: 0 20%;
}

#privacy h3 {
    font-size: 22px;
}

#privacy p,
#privacy ul li {
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    #privacy {
        margin: 0 20px;
    }
    
    #privacy h3 {
        font-size: 20px;
    }
    
    #privacy p,
    #privacy ul li {
        font-size: 15px;
    }
}