#projects .project {
    border: 5px solid #ff8c00;
    border-radius: 20px;
    box-shadow: 0 5px 10px 5px #aaa;
    display: flex;
    margin: 40px 10%;
    overflow: hidden;
}

#projects .project .item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

#projects .project .item img {
    display: block;
    width: 100%;
}

#projects .project .item h3 {
    font-size: 22px;
}

#projects .project .item p {
    font-size: 18px;
    line-height: 30px;
    margin: 20px;
}

#projects .project .item p:last-child {
    text-align: center;
}

#projects .project .item a {
    background-color: #ff8c00;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    padding: 20px 50px;
    text-decoration: none;
}

#projects .project .item a:hover {
    background-color: #dd6a00;
}

#projects .project .item .tool {
    border: 5px solid #ff8c00;
    border-radius: 50px;
    color: #ff8c00;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 150px;
}

@media (max-width: 1024px) {
    #projects .project {
        margin: 40px;
    }
    
    #projects .project .item h3 {
        font-size: 20px;
    }
    
    #projects .project .item p {
        font-size: 15px;
    }
    
    #projects .project .item .tool {
        font-size: 18px;
        padding: 15px;
        width: 100px;
    }
}

@media (max-width: 768px) {
    #projects .project {
        margin: 20px;
    }
    
    #projects .project .item .tool {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    #projects .project {
        display: block;
        margin: 40px;
    }
    
    #projects .project .item a {
        padding: 15px 40px;
    }
    
    #projects .project .item:last-child {
        border-top: 1px solid #aaa;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #projects .project .item .tool {
        margin: 10px;
        padding: 10px;
        width: 75px;
    }
}